.chart-inside-percent {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.chart {
  position: relative;
  width: fit-content;
}

.info-panel-container-left,
.info-panel-container-right {
  position: absolute;
  top: 55%;
  left: 50%;
}

.info-panel-container-left {
  transform: translate(-100%, 0);
}
